<!DOCTYPE html>
<html style="margin:0;padding:0;">
<head>
    <title>{% block subject %}{% endblock %}</title>
</head>
{% block body %}
    <body>
    {% block content %}{% endblock %}
    </body>
{% endblock %}
</html>
