{% extends ns_simple_user.templates.email %}
{% block subject %}{{ subject }}{% endblock %}

{% block body %}
    {{ 'simpleuser.email.reset.body'|replace({'%name%':user.name}))|raw }}
    <p><a href="{{ url('reset_password', {'token':token}) }}">{{ url('reset_password', {'token':token}) }}</a></p>
{% endblock %}
